body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}


a {
  text-decoration: none;
}

.main-container{
  width: 1200px;
  height: 2762px;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.main-navigation {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-align: center;
}
.site-navigation,
.footer-social ul{
	list-style: none;	
}

.lh-26px{
  line-height: 26px;
}

.site-navigation a,
.footer-social a{
  color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #81b3d2;;
}
.blue-back,
.button-blue {
  background-color: #81b3d2;
}

.main-navigation a:active{
  color: rgba(0, 0, 0, 0.3);
}

.social-button:visited,
.social-button{
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  display: block;
}
.social-button img{
  display:block;
  margin: auto;
  
  
}
.button-blue:hover,
.button-blue:focus,
.social-button:hover, /*footer-social a:hover*/
.footer-social a:focus {
  background-color: #669ec0;
}

.social-button:active, /*.footer-social a:active*/
.button-blue:active {
  background-color: #5496bd;

}

.blue-back>.bold,
.big-button-blue,
.big-button-brown{
  color: #ffffff;
  font-size: 21px;
  text-transform: uppercase;
}

.blue-back>.ordinary-text{
  color: #ffffff;
}

.blue-back {
  width: 400px;
  height: 256px;
}

.button-brown {
  
  background-color: #766357;
}
.big-button-brown{
  width: 568px;
  height: 86px;
}

.small-button-brown,
.small-button-blue{
  width: 142px;
  height: 27px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}

.button-brown:hover{
  background-color: #604e43;
}

.button-brown:active{
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.welcome-banner{
  text-align: center;

  
  
}
.welcome-banner{
  width: 1200px;
  height: 800px;
  background-image: url(../img/welcome.svg), url(../img/polygon.png), url(../img/background-photo.jpg);
  background-size: 50%, 100%, 100%;
  background-position: center, bottom, center;
  border: 1px solid red;
  position: relative;
  background-repeat: no-repeat, no-repeat, no-repeat;

  

}

.ordinary-text{
  color: #333333;
}

.bold{
  color:#000000;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: bold;
}

.grey-back{
  background-color: #eeeeee;
}

.white-back{
  background-color: #ffffff;
}

.input-back-wide{
  width: 346px;
  height: 38px;
  background-color: #f2f2f2;
  
}
.number input,
.number button{
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
}

.form-decor{
  width: 568px;
  height: 395px;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  line-height: 26px;
  font-weight: 700;
  color:#000000;
}

.grid-item{
  text-align: center;
}

.big-button-blue{
  width: 458px;
  height: 58px;
}

.small-button-blue{
  width: 110px;
  height: 27px;
}

.not-visible{
  display: none;
}

.pseudo-header{
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
}

.pseudo-header
.ordinary-text{
  line-height: 24px;
}

.form-decor input {
  color:#000000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 15px;
}

/*.htmla-link{
  
  width: 115px; 
  height: 41px;
  mask-image: url('img/logo-htmla.svg');
  background-color: #231f20;
}*/

.sortby li,
.catalog li{
  /*text-decoration: none;*/
  list-style: none;
}

.catalog-item a{
  color:#000000;
}

.rating-back{
  width: 110px;
  height: 27px;
  background-color:#f2f2f2;
  color: #666666;
  font-weight: 400;
  padding: 5px 13px 6px 16px;
}

.footer-contacts{
  text-align: left;
}