body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.main-container{
  width: 1200px;
  height: 2762px;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.main-navigation {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-align: center;
}
.site-navigation,
.footer-social ul{
	list-style: none;	
}

.lh-26px{
  line-height: 26px;
}

.site-navigation a,
.footer-social a{
	color: #000000;
  
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #81b3d2;
}
.blue-back,
.button-blue {
  background-color: #81b3d2;
}

.main-navigation a:active{
  color: rgba(0, 0, 0, 0.3);
}

.align-left{
  
  text-align: left;
}
.align-right{
  
  text-align: right;
}

.button-blue:hover,
.button-blue:focus,
.footer-social a:hover,
.footer-social a:focus {
  background-color: #669ec0;
}

.footer-social a:active,
.button-blue:active {
  background-color: #5496bd;

}

.blue-back>.bold,
.button-blue,
.button-brown{
  color: #ffffff;
  font-size: 21px;
  text-transform: uppercase;
}

.blue-back>.ordinary-text{
  color: #ffffff;
}

.blue-back {
  width: 400px;
  height: 256px;
}

.button-brown {
  width: 568px;
  height: 86px;
  background-color: #766357;
}

.button-brown:hover{
  background-color: #604e43;
}

.button-brown:active{
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.welcome-banner{
  text-align: center;
}

.ordinary-text{
  color: #333333;
}

.bold{
  color:#000000;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: bold;
}

.grey-back{
  background-color: #eeeeee;
}

.white-back{
  background-color: #ffffff;
}

.input-back-wide{
  width: 346px;
  height: 38px;
  background-color: #f2f2f2;
  
}
.number input,
.number button{
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
}

.form-decor{
  width: 568px;
  height: 395px;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  line-height: 26px;
  font-weight: 700;
  color:#000000;
}

.grid-item{
  text-align: center;
}

.button-blue{
  width: 458px;
  height: 58px;
}

.not-visible{
  display: none;
}

.pseudo-header{
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
}

.pseudo-header
.ordinary-text{
  line-height: 24px;
}

.form-decor input {
  color:#000000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 15px;
}

.htmla-link{
  
  width: 115px; 
  height: 41px;
  mask-image: url('img/logo-htmla.svg');
  background-color: #231f20;
}
